<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlinstandardapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_national_sozialismus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_national_sozialismus"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinStandardApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".databindingpage.lession2bindingadapter.DataBindActivity2"
            android:exported="false" />
        <activity
            android:name=".canvaspage.overlay.CanvasDrawActivity3"
            android:exported="false" />
        <activity
            android:name=".canvaspage.chart.CanvasDrawActivity2"
            android:exported="false" />
        <activity
            android:name=".canvaspage.basic.CanvasDrawActivity"
            android:exported="false" />
        <activity
            android:name=".databindingpage.lession1getstart.DataBindActivity"
            android:exported="false" />
        <activity
            android:name=".Navigationpage2.Navigation2Activity"
            android:exported="false" />
        <activity
            android:name=".canvaspage.basic.CanvasActivity"
            android:exported="false" />
        <activity
            android:name=".Coroutinepage.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".PopupMenuPage.PopupMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Navigationpage.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".Musicpage.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".Widgetpage.WidgetConfigurationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Widgetpage.WidgetActivity"
            android:exported="false" />
        <activity
            android:name=".Homepage.HomeActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Loginpage.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Introductionpage.IntroductionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Simple Widget -->
        <receiver
            android:name=".Widgetpage.WidgetButton"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_button_info" />
        </receiver> <!-- end Simple Widget -->
        <!-- Widget with Configuration -->
        <receiver
            android:name=".Widgetpage.WidgetConfigurationButton"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_button_configuration_info" />
        </receiver> <!-- end Widget with Configuration -->
        <service android:name=".Musicpage.MusicService" />

        <receiver
            android:name=".Musicpage.MusicBroadcastReceiver"
            android:enabled="true" />
    </application>

</manifest>